@import "tailwindcss";

@theme {
  --color-yimby-50: #f0faf4;
  --color-yimby-100: #d9f2e3;
  --color-yimby-500: #2da066;
  --color-yimby-600: #1f8051;

  --font-sans: Inter, sans-serif;
}

@layer base {
  body {
    @apply bg-yimby-50 text-gray-800 antialiased font-sans;
  }
}